@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #09090b;
  --panel: #18181b;
  --border: #27272a;
  --accent: #10b981;
}

body {
  background-color: var(--bg);
  color: #f4f4f5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--bg);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 10px;
}
